// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat {
  border-left: rgba(0,0,0,0.2) 5px solid;
  padding: 10px 20px;
  margin: 20px;
}

.card {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  padding: 20px;
  margin: 20px;
}

.text-center {
  text-align: center;
}
